@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix for Chrome autofill background on web */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-text-fill-color: #F1F5F9 !important;
}
